*{
    font-family: sans-serif;
}

body{
    background-color: rgb(182, 178, 178);
}

h1{
    text-align: center;
    color: rebeccapurple;
    margin-top: 100px;
}

#quoteDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(157, 122, 246);
    width: 500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
}

#quoteDisplay p{
    font-weight: 600;
    color: aquamarine;
}
#quoteDisplay small{
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
}

#category{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    margin-top: 30px;
    gap: 10px;
}

#categoryFilter{
    height: 30px;
    text-align: center;
    background-color: rgb(157, 122, 246);
    /* border-radius: 15px; */
    cursor: pointer;
}

#newQuote{
    height: 30px;
    border-radius: 15px;
    background-color: rgb(157, 122, 246);
    border: none;
}

#newQuote:hover{
    opacity: 0.7;
    cursor: pointer;
}

#formContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin: auto;
    margin-top: 30px;
}

#formContainer input{
    height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#formContainer button{
    height: 30px;
    border-radius: 15px;
    background-color: rgb(157, 122, 246);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#formContainer button:hover{
    opacity: 0.7;
}

#exquote{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    gap: 20px;
    margin-top: 30px;
}


#exportBtn{
    height: 30px;
    background-color: rgb(157, 122, 246);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#exportBtn:hover{
    opacity: 0.7;
}


#exquote input{
    /* height: 30px; */
    cursor: pointer;
    border: 1px solid black;
}

#status{
    display: flex;
    border: 1px solid rgb(157, 122, 246);
    text-align: center;
    width: 500px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
}

#manual{
    width: 100px;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(157, 122, 246);
    border: none;
    border-radius: 10px;
}

#manual:hover{
    opacity: 0.7;
    cursor: pointer;
}